{namespace beige.templates.layout}

/**
 * header
 */
{template .header}
<html><head><title>test layout</title></head><body>
{/template}

/**
 * footer
 */
{template .footer}
</body></html>
{/template}